<div class="designer_navigation star_rookie" role="navigation">
    <div class="spot clearfix">
        <div class="banner_designer _bigBannerContainer" role="region" aria-label="디자이너 소개 슬라이드 배너"
             style="overflow: hidden; box-sizing: border-box;">
            <div role="tabpanel" class="carousel_box clearfix eg-flick-container"
                 style="position: relative; z-index: 2000; width: 100%; height: 100%; transform: translate(-1568px, 0px); will-change: transform;">
                <a href="javascript:;" aria-controls="slide1"
                   class="carousel_item N=a:sta.bbanner eg-flick-panel"
                   style="background-image: url(&quot;http://shop1.phinf.naver.net/20170818_224/showindowCommon_1503021080668YELNy_JPEG/8343104886423896_1609800824.jpg?type=w860&quot;); position: absolute; width: 784px; height: 100%; box-sizing: border-box; top: 0px; left: 0px; transform: translate(200%, 0px); will-change: transform;"
                   title="">
                </a>
                <a href="javascript:;" aria-controls="slide2"
                   class="carousel_item N=a:sta.bbanner eg-flick-panel"
                   style="background-image: url(&quot;http://shop1.phinf.naver.net/20170818_16/showindowCommon_1503021040750BEz8Y_JPEG/39625971103832935_-983876538.jpg?type=w860&quot;); position: absolute; width: 784px; height: 100%; box-sizing: border-box; top: 0px; left: 0px; transform: translate(300%, 0px); will-change: transform;"
                   title="">
                </a>
                <a href="javascript:;" aria-controls="slide3"
                   class="carousel_item N=a:sta.bbanner eg-flick-panel"
                   style="background-image: url(&quot;http://shop1.phinf.naver.net/20170818_89/showindowCommon_1503021285965dqRuY_JPEG/39626216316747705_-1453237546.jpg?type=w860&quot;); position: absolute; width: 784px; height: 100%; box-sizing: border-box; top: 0px; left: 0px; transform: translate(400%, 0px); will-change: transform;"
                   title="">
                </a>
                <a href="javascript:;" aria-controls="slide4"
                   class="carousel_item N=a:sta.bbanner eg-flick-panel"
                   style="background-image: url(&quot;http://shop1.phinf.naver.net/20170818_167/showindowCommon_1503021138738tm166_JPEG/39626069089667394_19255856.jpg?type=w860&quot;); position: absolute; width: 784px; height: 100%; box-sizing: border-box; top: 0px; left: 0px; transform: translate(0%, 0px); will-change: transform;"
                   title="">
                </a>
                <a href="javascript:;" aria-controls="slide5"
                   class="carousel_item N=a:sta.bbanner eg-flick-panel"
                   style="background-image: url(&quot;http://shop1.phinf.naver.net/20170818_142/showindowCommon_1503021109601DquSm_JPEG/8343133821501429_567220966.jpg?type=w860&quot;); position: absolute; width: 784px; height: 100%; box-sizing: border-box; top: 0px; left: 0px; transform: translate(100%, 0px); will-change: transform;"
                   title="">
                </a>
            </div>
            <div class="designer_paging_flick _pageContainer" role="tablist" aria-label="페이지 선택">
                <a href="#" class="lk_page true">1</a>
                <a href="#" class="lk_page">2</a>
                <a href="#" class="lk_page">3</a>
                <a href="#" class="lk_page">4</a>
                <a href="#" class="lk_page">5</a>
            </div>
            <a href="#" class="btn_prev">이전 슬라이드 보기</a>
            <a href="#" class="btn_next">다음 슬라이드 보기</a>
        </div>

        <div class="banner_event _eventBannerContainer" style="overflow: hidden; box-sizing: border-box;">
            <div class="banner_wrap eg-flick-container"
                 style="position: relative; z-index: 2000; width: 100%; height: 100%;">
                <a href="javascript:;" class="lk_banner eg-flick-panel"
                   style="background-image: url(&quot;http://shop1.phinf.naver.net/20170822_185/showindowCommon_1503379745300SczwX_JPEG/39984675653221756_-620747439.jpg?type=w604&quot;); position: absolute; width: 326px; height: 100%; box-sizing: border-box; top: 0px; left: 0px;">
                    <div class="cont">
                        <span class="subject">NEW</span>
                        <p class="tit">남성의류 가을 신상 특집전</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="main_category ">
        <h4 class="title text_indent">CATEGORY</h4>
        <div class="category_set">
            <div class="mask circle style style _snb_menu_area">
                <ul class="category_list pure-g" style="left: 0px;">
                    <li class="list pure-u-1-8"><a class="link text_indent all" href="javascript:;"><span>所有</span></a>
                    </li>
                    <li class="list pure-u-1-8"><a class="link text_indent top" href="javascript:;"><span>上装</span></a>
                    </li>
                    <li class="list pure-u-1-8"><a class="link text_indent outer"
                                                   href="javascript:;"><span>外套</span></a></li>
                    <li class="list pure-u-1-8"><a class="link text_indent dress"
                                                   href="javascript:;"><span>连衣裙、套装</span></a></li>
                    <li class="list pure-u-1-8"><a class="link text_indent bottom"
                                                   href="javascript:;"><span>下装</span></a></li>
                    <li class="list pure-u-1-8"><a class="link text_indent shoes"
                                                   href="javascript:;"><span>鞋子</span></a></li>
                    <li class="list pure-u-1-8"><a class="link text_indent bag" href="javascript:;"><span>箱包</span></a>
                    </li>
                    <li class="list pure-u-1-8"><a class="link text_indent acc" href="javascript:;"><span>首饰</span></a>
                    </li>
                </ul>
            </div>
            <a class="category_btn prev text_indent btn_before" href="#">이전 카테고리 보기</a>
            <a class="category_btn next text_indent btn_next" href="#"> 다음 카테고리 보기</a>
        </div>
    </div>
    <div class="common_list_title">
        <h3 id="_CATEGORY_TITLE" class="title">所有</h3>
        <ul class="common_list_sort clearfix" id="sort_list">
            <li class="list true"><a href="#" class="link">最新</a></li>
            <li class="list"><a href="#" class="link">人气</a></li>
            <li class="list"><a href="#" class="link">销量</a></li>
        </ul>
    </div>
    <ul id="grid" class="common_list_static pure-g">
        {{#each apiList}}
            <li class="list default item  img_full_h pure-u-1-5">
                <div class="item-box">
                    <a class="link" href="javascript:;">
                        <div class="thumb">
                                <span class="thumb_img">
                                    <img class="img" src="{{this.img}}">
                                </span>
                            <div class="price">
                                <i class="bg"></i>
                                <i class="discount_bg"></i>
                                <strong class="value"><em class="number">{{this.price}}</em>元</strong>
                                <p class="discount">
                                    <em class="number number_4"></em>
                                    <em class="number percent"></em>
                                </p>
                            </div>
                            <div class="common_border"></div>
                        </div>
                        <dl class="goods_desc">
                            <dt class="tit">{{this.tit}}</dt>
                            <dd class="dsc">{{this.dsc}}</dd>
                        </dl>

                        <div class="count">
                            <ul class="count_list">
                                <li class="list view">
                                    <i class="title fa fa-eye"></i><em class="number">4</em>
                                </li>
                                <li class="list scrap">
                                    <i class="title fa fa-heart-o"></i><em class="number">1</em>
                                </li>
                                <li class="list talk">
                                    <i class="title">已售</i><em class="number">1</em>
                                </li>
                            </ul>
                        </div>
                    </a>
                    <a class="store_link" href="javascript:;">
                        <dl class="info">
                            <dt class="store_img">
                                <img class="img"
                                     src="http://shop1.phinf.naver.net/20170803_186/9961_150175026879698PIF_JPEG/25057428418077685_-1123688296.jpg?type=f72_72"
                                     width="32" height="32" alt="스토어 이미지">
                                <div class="common_border"></div>
                            </dt>
                            <dt class="title">{{this.local}}</dt>
                            <dd class="location">{{this.brand}}</dd>
                        </dl>
                    </a>
                </div>
            </li>
        {{/each}}
    </ul>
</div>